PacktDealOfDay/.vs/
PacktDealOfDay/obj/Debug/netcoreapp2.1/PacktDealOfDay.csprojAssemblyReference.cache
PacktDealOfDay/obj/
.vs/
PacktDealOfDay/bin/Debug/netcoreapp2.1/win-x64/hostpolicy.dll
PacktDealOfDay/bin/Debug/netcoreapp2.1/win-x64/hostfxr.dll
PacktDealOfDay/bin/Debug/netcoreapp2.1/win-x64/PacktDealOfDay.runtimeconfig.json
PacktDealOfDay/bin/Debug/netcoreapp2.1/win-x64/PacktDealOfDay.runtimeconfig.dev.json
PacktDealOfDay/bin/Debug/netcoreapp2.1/win-x64/PacktDealOfDay.pdb
PacktDealOfDay/bin/Debug/netcoreapp2.1/win-x64/PacktDealOfDay.exe
PacktDealOfDay/bin/Debug/netcoreapp2.1/win-x64/PacktDealOfDay.dll
PacktDealOfDay/bin/Debug/netcoreapp2.1/win-x64/PacktDealOfDay.deps.json
PacktDealOfDay/bin/Debug/netcoreapp2.1/PacktDealOfDay.runtimeconfig.json
PacktDealOfDay/bin/Debug/netcoreapp2.1/PacktDealOfDay.runtimeconfig.dev.json
PacktDealOfDay/bin/Debug/netcoreapp2.1/PacktDealOfDay.pdb
PacktDealOfDay/bin/Debug/netcoreapp2.1/PacktDealOfDay.dll
PacktDealOfDay/bin/Debug/netcoreapp2.1/PacktDealOfDay.deps.json
PacktDealOfDay/bin/
